<div class="modal-header">
  <h4 class="modal-title" style="align-items: center;">Log in</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="background-image: url('./assets/logolast2.jpg'); background-size: 100% 100%;">
  <div class="container">
    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">


      <label class="lb" for="un">Username</label>
      <input type="text" value="" id="un" class="form-control" name="un" [ngModel]="" #un="ngModel" required autofocus/>
      <div *ngIf="f.submitted && un.invalid">
        <div> Please enter username</div>
      </div>

      <br>
      <br>

      <label class="lb" for="password">Password</label>
      <input type="password" value="" id="password" class="form-control" name="password" #password="ngModel" ngModel
        required />
      <br>
      <br>
      <button mat-raised-button color="accent" class="btn btn-success" id="btn1" [disabled]="!f.form.valid" type="submit">Log in</button>
      <p id="loginError" style="color: darkred;"></p>
    </form>
    <br>
    <br>
    <button class="loginBtn loginBtn--google" (click)="logInWithGoogle('Google')"> Log In with Google </button>
    <br>
    <button class="loginBtn loginBtn--facebook" (click)="logInWithFacebook('Facebook')">
      Login with Facebook
    </button>
  </div>
</div>
<div class="modal-footer">
  <button mat-raised-button color="accent" type="button" class="signupB" class="success" (click)="signUp()">Sign
    up</button>
  <br>
  <button mat-button type="button" class="btn btn-outline-dark"
    (click)="close()">Close</button>
</div>